{% extends 'base.html.twig' %}

{% block title %} {{ suite.titre }}{% endblock %}

{% block body %}
    <header class="text-center">
    <h1 class="display-1 text-center">{{ suite.titre }} <span>{{ suite.price / 100}}€ /nuit</span></h1>
    <h2 class="text-center">l'hôtel {{ suite.etablissement }} - {{ suite.ville }}</h2>
    <a href="{{ path('app_booking_new') }}" class="btn btn-dark btn-lg p-1">Réserver</a>
    </header>

    <section class="container marketing my-3">
        <hr>
        <div class="row">
            <div class="col-lg-4">
                <h2>Spa privatif</h2>
                <p>Vous bénéficiez d'u spa privatif dans votre suite</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <h2>Chauffeur 24h/24</h2>
                <p>Un chauffeur est à votre disposition 24h/24 pour vous rendre où vous voulez</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <h2>Séance de bien-être</h2>
                <p>Une séance de bien-être vous est offerte tous les jours</p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

    <div class="my-3">
        {% for images in suite.attachements %}
            <img src="{{ asset('images/attachments/{{ images }}') }}" class="img-fluid">
        {% endfor %}
    </div>
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h3>En savoir plus:</h3>
                <p class="text-center">{{ suite.description }}</p>
            </div>
            <div class="col-md-5">

                <div  id="calendrier"></div>

            </div>
        </div>
        <!-- /END THE FEATURETTES -->

    </section><!-- /.container -->
{% endblock %}
{% block javascripts %}

    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")
            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'dayGridMonth',
                local:'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },



            });
            calendar.render();
        }

    </script>

{% endblock %}