{% extends 'base.html.twig' %}

{% block title %}Nos hôtels {% endblock %}

{% block body %}

    <main class="container-fluid">
    <h1 class="display-1 text-center mt-2">Les hôtels d'hypnos </h1>
        <div class="mb-2">
            <h3>Filtrer</h3>
            {{ form(form) }}
        </div>
    <div class="row mb-2">
    {% for hotel in hotels %}
        <div class="col-md-4">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0 text-center">{{ hotel.name }}</h3>
                    <h5 class="mb-0 text-center">{{ hotel.villes }}</h5>
                    <p class="card-text mb-auto">{{ hotel.shortDescription }}</p>
                    <a href="{{ path('hotel', {'slug' : hotel.slug}) }}" class="btn btn-dark btn-sm ">voir l'hôtel</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                <img  class=" img-fluid" width="250" height="250" src="/images/thumbnails/{{ hotel.thumbnail }}">
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
        </div>
    </main>
{% endblock %}
