{% extends 'base.html.twig' %}

{% block title %}Nos hôtels chez Hypnos {% endblock %}

{% block body %}
    <style>
        .couple {
            height: 250px;
        }
    </style>
    <main class="container-fluid">
    <h1 class="display-1 text-center mt-2">Les hôtels d'hypnos </h1>
        <section class="row mb-2" >
            <div class="mb-2 d-lg-inline-block col-md-4">
                <h3>Filtrer</h3>
                {{ form(form) }}
            </div>
            <div class="my-3 col-md-8">
                <p class="my-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
            </div>
        </section>
    <div class="row mb-2">
    {% for hotel in hotels %}
        <div class="col-md-4">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0 text-center">{{ hotel.name }}</h3>
                    <h5 class="mb-0 text-center">{{ hotel.villes }}</h5>
                    <p class="card-text mb-auto">{{ hotel.shortDescription }}</p>
                    <a href="{{ path('hotel', {'slug' : hotel.slug}) }}" class="btn btn-dark btn-sm ">voir l'hôtel</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                <img  class=" img-fluid" width="250" height="250" src="/images/thumbnails/{{ hotel.thumbnail }}" alt="{{ hotel.name }}">
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
        </div>
    </main>
{% endblock %}
