{% extends 'base.html.twig' %}

{% block title %}Gestion de votre compte hypnos{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="display-1 text-center" >Votre compte Hypnos</h1>

    <section class="my-1 justify-content-center">
    <br>
    {%  if is_granted('ROLE_EDITOR') %}
        <a href="{{ path('admin') }}" class="btn btn-dark">aller sur le panel d'administration</a>
    {% endif %}
    </section>
    <br>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div>
                        <ul class="nav nav-tabs flex-column" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active btn-dark"> Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn-dark"  href="{{ path('app_gestion_mes_reservations') }}">Vos réservations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn-dark" href="{{ path('app_logout')}}"><i class="ti-lock"></i>Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">

                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Bonjour {{ app.user.firstname }} {{ app.user.lastnamme }}</h3>
                                </div>
                                <div class="card-body">
                                    <p>Bienvenue sur votre compte. Vous pouvez facilement gérer et voir  <a class="btn btn-dark" href="{{ path('app_gestion_mes_reservations') }}">réservations</a> et <a class="btn btn-dark" href="{{ path('app_forgot_password_request') }}">modifier votre mot de passe</a></p>
                                    <p>Vous pouvez aussi <a href="{{ path('app_booking_new') }}" class="btn btn-dark">réserver une suite</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
