{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="display-1 text-center">Se connecter à Hypnos</h1>
        <img class="mb-4" src="assets/images/logo.jpg" alt="logo d'hypnos un h majuscule" width="100" height="100">
        <div class="form-floating mb-2">
            <input type="email" class="form-control" value="{{ last_username }}" name="email" id="inputEmail" placeholder="name@example.com"autocomplete="email" required autofocus>
            <label for="floatingInput">Votre email</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Password">
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <label for="floatingPassword">Votre mot de passe</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-dark" type="submit">Sign in</button>
    <p>Vous avez oublié votre mot de passe : <a class="text-dark text-decoration-underline" href="{{ path('app_forgot_password_request') }}">Réinitialiser</a></p>
    </form>
{% endblock %}
