{% extends 'base.html.twig' %}

{% block title %}Hypnos le groupe hôtelier haut de gamme{% endblock %}

{% block body %}

        <style>

            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
            .header {
                background-image: url('assets/images/header.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: bottom;

            }

            h1 {
                font-size: 85px;
            }

            .poly {
                height: 200px;
                width: 100vw;
                background-color: black;
                clip-path: polygon(0 0, 100% 0, 52% 46%, 52% 46%);
            }

            h2{
                text-align: center;
            }

            .argument {
                background-image: url("assets/images/bg-hotel.jpg");
                height: 300px;
                background-size: cover;
                background-repeat: no-repeat;
                padding: 1.2em;
                margin-top: 1em;
            }
            h4 {
                color: white;
            }

            .card{
                background-image: url("assets/images/bg.jpg");
                background-repeat: no-repeat;
                background-size: cover;
            }

        </style>

<header class="header">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="text-decoration-underline display-1 text-white text-center">HYPNOS</h1>
                <h3 class="display-5 text-white text-center">Le séjour romantique par excellence</h3>
                <p>
                    <a href="{{ path('app_booking_new') }}" class="btn btn-dark my-2">Réserver</a>
                    <a href="{{ path('app_hotels') }}" class="btn btn-dark my-2">Voir les hôtels</a>
                </p>
            </div>
        </div>
    </section>
</header>

    <div class="poly"></div>
    <main>
        <hr>
        <h2>A propos de nous</h2>
        <section class="container py-5">
            <div class="row container justify-content-center align-items-center">
                <div class="col-md-5">
                    <img src="assets/images/bg-hotel.jpg" alt="" class="img-fluid mx-auto" width="500" height="500" alt="maison sur piloti sur une plage en fond de couleur rosé">
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading">Le groupe Hypnos </h2>
                    <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.
                        Some great placeholder content for the first featurette here. Imagine some exciting prose here.
                        Some great placeholder content for the first featurette here. Imagine some exciting prose here.
                        Some great placeholder content for the first featurette here. Imagine some exciting prose here.
                    </p>
                </div>
            </div>

            <hr>

            <div class="row container justify-content-center align-items-center">
                <div class="col-md-7 text-center">
                    <h2 class="featurette-heading">Le groupe Hypnos </h2>
                    <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.
                        Some great placeholder content for the first featurette here. Imagine some exciting prose here.
                        Some great placeholder content for the first featurette here. Imagine some exciting prose here.
                        Some great placeholder content for the first featurette here. Imagine some exciting prose here.
                    </p>
                    <button class="btn btn-dark">Nous contacter</button>
                </div>
                <div class="col-md-5">
                    <img src="assets/images/beach.jpg" alt="" class="img-fluid mx-auto" width="500" height="500" alt=" un couple au bord de la mer ">
                </div>
            </div>

            <hr>
        </section>

        <section class="container py-5">
            <h2>Nos engagements</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="feature col">
                    <div class="feature-icon">
                    </div>
                    <h2>Room service 24h/24</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                </div>

                <div class="feature col">
                    <div class="feature-icon">
                    </div>
                    <h2>Chauffeur 24h/24</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                </div>

                <div class="feature col">
                    <div class="feature-icon">
                    </div>
                    <h2>Détente</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                </div>


            </div>
        </section>

        <section class="hotel-list py-5">
            <h2 class="text-center">Nos hôtels</h2>
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 justify-content-center">
                        {% for hotel in etablissement %}
                        <div class="col">
                            <div class="card shadow-sm bg-transparent text-center text-white">
                                <img src="/images/thumbnails/{{ hotel.thumbnail }}" class="card-img-top" height="200" alt="{{ hotel.name }}">

                                <div class="card-body">
                                    <h4>{{ hotel.name }}</h4>
                                    <h5>{{ hotel.villes }}</h5>
                                    <p class="card-text">{{ hotel.shortDescription }}</p>
                                    <div class="text-center">
                                        <div class="btn-group">
                                            <a href="{{ path('hotel', {'slug' : hotel.slug}) }}" type="button" class="btn btn-sm  btn-dark">Découvrir</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

        </section>
    </main>
{% endblock %}
